h1 {
color: rgb(219, 138, 138);

}
P {
    color: rgb(5, 14, 37);
    text-shadow: 3px;
    
    
    
}
.navbar1 {
    text-align: justify;
    padding-top: 30px;
    background: linear-gradient(blue white);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-right: blueviolet;
    height: auto;
    border: 10px ridge;
    border-width: 10px 15px 5px 10px;
    border-radius: 10px;
    margin: 60px 10px 20px 5px;
    background-origin: content-box;
    text-decoration-line: overline;
    text-decoration-color: aquamarine;
    font-size: 20px;
    text-shadow: 4px;
    line-height: 20px;
    

    
    
  
}

.navbar1:hover {
    font-size: 2em;
    color: rgb(226, 128, 43);

}

body {
background:radial-gradient(rgb(56, 56, 117), white, orange);


}

form {
    
}